*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}


body{
    background-color: #00081D;
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
}

/* Header */

header{
    height: 80px;
}

.navbar{
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 10px;
}

.navbar ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    height: 40px;
}

.navbar ul li select,
.navbar ul li button{
    color: white;
    height: 35px;
    cursor: pointer;
}

.navbar ul li select{
    background-color: #0F1118;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px 10px;
}

.navbar ul li button{
    background-color: #E50914;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
}

.navbar ul li button:hover{
    background-color: #C11119;
    transition: 0.3s;
}

/* Landing */
.content-section{   
    display: flex;
    flex-direction: column;
}

.content-landing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 10px 100px;
    margin: 10px 50px;
    min-height: 37.5rem;
    border-radius: 20px;
    background-image: radial-gradient(93.75% 105.88% at 0.39% 99.26%, rgba(150, 1, 7, 0.4) 1.42%, rgba(30, 1, 66, 0.51) 53.8%, rgba(13, 14, 32, 0) 100%),linear-gradient(98.24deg, #1D0005 14.75%, rgba(0, 8, 29, 0.48) 100%),url(https://assets.nflxext.com/ffe/siteui/vlv3/ceb3b1eb-2673-4dd9-a6e3-0cd7a5e130ee/bb06bfad-1888-416d-94c8-307092cc05f7/TR-en-20230522-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.content-landing-articles{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.content-landing h1{
    font-size: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 20px;
}

.content-landing h2{
    margin-bottom: 30px;
}

.content-landing p{
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.send-email{
    display: flex;
    align-items: center;
}

.input-mail{
    height: 55px;
    width: 380px;
    background-color: #1C0F17;
    border: 1px solid gray;
    border-radius: 5px;
    color:white;
    padding-left: 15px;
    font-size: 14px;
}

.btn-send-mail{
    height: 60px;
    width: 205px;
    margin-left: 10px;
    background-color: #E50914;
    color: white;
    font-size: 23px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

::placeholder{
    font-size: 16px;
    color: lightgray;
}

/* Content */

.content-part{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.content-part .content-articles{
    width: 590px;
    color: white;
    margin-right: 30px;
}

.content-part .content-articles h1{
    font-size: 45px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 1000;
    margin-bottom: 20px;
}

.content-part .content-articles p{
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-weight: 500;
}

.content-part .content-image img{
    width: 600px;
}

/* CONTENT-FAQ */

.container-faq{
    display: flex;
    flex-direction: column;
    margin: 110px 150px;
}

.container-faq .container-faq-title{
    color: white;
    font-size: 40px;
    margin-bottom: 5px;
}

.content-faq{
    color: white;
}

.content-faq-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    padding: 20px 25px;
    background-color: #132144;
    border-bottom: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.content-faq-title:hover{
    background-color: #223362;
    transition: 0.3s;
}

.content-faq-title p{
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}

.content-faq-title .plus-icon{
    font-size: 50px;
    cursor: pointer;

}

.content-faq-title.open .plus-icon{
    transform: rotate(45deg);
}

.content-faq-article{
    padding: 0px 25px;
    background-color: #132144;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
}

.content-faq-article.show {
    max-height: 600px;
    padding: 20px 25px;
  }

.content-faq-article p{
    font-size: 24px;
    line-height: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}

.send-email-title{
    font-size: 20px;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* FOOTER SECTİON */
.footer-section{
    display: flex;
    flex-direction: column;
    margin: 10px 150px;
    padding-right: 170px;
    padding-bottom: 80px;
}

.footer-section .questions-part {
    display: flex;
}

.footer-section .questions-part p{
    font-size: 16px;
    color: #FFFFFFB3;
}

.footer-list{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-list ul li{
    color: #FFFFFFB3;
    font-size: 14px;
    margin-top: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.footer-section select{
    width: 110px;
    color: white;
    height: 35px;
    cursor: pointer;
    background-color: #0F1118;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px 10px;
    margin-top: 40px;
}

.footer-section .brand{
    font-size: 14px;
    color: #FFFFFFB3;
    margin-top: 40px;
}